<a class="text-decoration-none" href="/tournaments/{{_id}}">

  <div class="card bg-dark col-12 col-md-4 col-xxl-3 shadow-lg tournament-card">
    <div class="w-100">
      <div class="d-flex justify-content-between position-absolute w-100 p-2">
        <p class="text-white">

          {{! TODO: loop, check for platform type and display }}
          <img
            src="{{getPlatformIcon gamePlatform}}"
            alt="icon"
            class="bg-white rounded-3 p-1 me-1"
            width="32"
            height="32"
          />

          {{gamePlatform}}</p>

        <p class="text-white fs-6">

          {{status}}</p>

      </div>
      <img src="{{banner}}" class="card-img-top" alt="tournament banner" />

      <div class="card-body d-flex flex-column w-100 m-0">
        {{! card title }}
        <div class="tournament-card-title">
          <h6 class="text-info">{{name}}</h6>
          <p class="text-info">{{game}}</p>
        </div>

        {{! about tournament }}
        <div class="d-flex flex-column justify-content-center">
          <p class="text-info align-content-center d-flex font-sm">
            <i class="bi bi-box-arrow-in-left fs-5 me-3"></i>
            {{fee}}
          </p>
        </div>

        <div class="d-flex flex-column justify-content-center">
          <p class="text-info align-content-center d-flex font-sm">
            <i class="bi bi-calendar4-event fs-5 me-3"></i>
            {{formatDate startDate}}</p>
        </div>

        <div class="d-flex flex-column justify-content-center">
          <p class="text-info align-content-center d-flex font-sm">
            <i class="bi bi-cast fs-5 me-3"></i>
            <a href="{{streamLink}}" target="_blank">Stream</a></p>
        </div>

        {{! button }}

        <!-- Button trigger modal -->
        <button
          type="button"
          class="btn btn-primary w-100 bg-info text-black text-decoration-none p-2 mt-3 text-center"
          data-bs-toggle="modal"
          data-bs-target="#staticBackdrop"
        >
          Register
        </button>

        <!-- Modal -->
        <div
          class="modal fade"
          id="staticBackdrop"
          data-bs-backdrop="static"
          data-bs-keyboard="false"
          tabindex="-1"
          aria-labelledby="staticBackdropLabel"
          aria-hidden="true"
        >
          <div class="modal-dialog modal-dialog-centered">
            <div class="modal-content bg-dark">
              <div class="modal-header">
                <h1
                  class="modal-title fs-5 text-info"
                  id="staticBackdropLabel"
                >Confirm Registration</h1>
                <button
                  type="button"
                  class="btn-close"
                  data-bs-dismiss="modal"
                  aria-label="Close"
                ></button>
              </div>

              <div class="modal-body">
                <p class="text-info">Are you sure you want to register for this
                  tournament?
                </p>
              </div>

              <div class="modal-footer">
                <button
                  type="button"
                  class="btn btn-secondary"
                  data-bs-dismiss="modal"
                >Cancel
                </button>
                <button type="button" class="btn btn-success">
                  <a
                    class="text-decoration-none text-white"
                    href="/tournaments/{{_id}}/register"
                  >
                    Register
                  </a>
                </button>
              </div>
            </div>
          </div>
        </div>

        {{! <a
        href="/tournaments/123454656788"
        class="w-100 bg-info text-black text-decoration-none p-2 mt-3 text-center"
      >
        Register
      </a> }}
      </div>
    </div>
  </div>
</a>